<h1>Teste de página da Action index presente na classe welcome_controller</h1>

<h2><%=@teste%></h2>  <%# dessa forma que declaramos como uma variavel vai aparecer no html com ruby %>

<%# <button>Acesse a página</button> %>

<%# <a href="/customers">acessar os customers</a> Podemos apontar dessa forma, porem não é o correto %>

<%#  %>Para utilizar da Forma Rails é necesário utilizar os Helpers 

<%= link_to "Cadastro de Clientes", customers_path%>